// This file is meant to modify color themes and fonts.
// All the variables are declared in "resources.scss".

body{
    font-family: $font1;
}

#nav{
    background-color: $nav_top;

    #hamburger{
        color: $ham_close;
    }
    #nav-close{
        color: $ham_close;
    }
}
.sidebar{
    background-color: $sidebar;

    li:hover{
        background-color: $nav_hover;
    }
}

section{
    background-color: $bg_section;

    .main-container{
        #achivements{
            @include sections_headings;
        }

        #gallery{
            @include sections_headings;
        }

        #sponsors{

            .sponsors-wrapper{
                background-color: $bg_section;
            }
        }
    }
}


.site-footer{
    background-color: $footer;
}