/* ------ Color Themes ------ */

//Sourthern_Comfort:-

// $bg_section: #fcfaf0;  // light-creme

// $nav_top:#8f795f;
// $ham_close: white;
// $sidebar: #f5dfba;
// $nav_hover: #f5d091;

// $footer: #c5f0c5;



// Linen Pallet:-

$bg_section: #f8eee4;  // light-creme2

$nav_top:#879eaa;
$ham_close: white;
$sidebar: #e7e7e7;
$nav_hover: #d4d4d4;

$footer: #c5f0c5;



/* ------- FONTS -------- */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

$font1: 'Quicksand', sans-serif;