/* ------ Color Themes ------ */


// Linen Pallet:-

// $bg_section: #f8eee4;  // light-creme2
$bg_section: #eefbff;
$main_container: white;
$scroll_thumb: rgb(187, 187, 187);
$scroll_thumb_hover: rgb(163, 163, 163);

$nav_top:#769fcd;
$ham_close: white;
$sidebar: #d6e6f2;
$nav_hover: #bae8e8;

$progress_line: linear-gradient(to right, teal 0%, #4fdf8b 100%);
$step_active: teal;
$step_hover: teal;

$team_tabs: #d6e6f2;
$team_tabs_hover: #769fcd;
$team_tab_active:#769fcd;

$footer: #272343;


/* ------- FONTS -------- */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,900;1,400;1,600&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');

$font_landing: 'Red Hat Display', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

$font1: 'Quicksand', sans-serif;


/* ------- Responsive layout ------- */

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";