@mixin sections_headings {
    padding-top: 30px;
    height: 90vh;

    h1{
        text-align: center;
        font-weight: 500;
    }
}

@keyframes timeline{
    from{width: 0px;}
    to{width: 100%;}
}
@keyframes move-object{
    from{left: 0;}
    to{left: calc(100% - 180px);}
}
@keyframes loading{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes animate-up{
    from{
        margin-top: 200px;
        opacity: 0;
    }
    to{
        margin-top: 0;
        opacity: 1;
    }
}